@charset "UTF-8";
.cart-group .topH {
  height: 1.8rem; }

.cart-group .top {
  position: fixed;
  left: 0;
  top: 2rem;
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px; }
  .cart-group .top .allchoosebox {
    display: block;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .cart-group .top .allchoosebox .allchooseimg {
      width: 1rem;
      height: 1rem;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #ccc; }
    .cart-group .top .allchoosebox .active {
      background-image: url(../img/choose.png);
      background-repeat: no-repeat;
      -moz-background-size: cover;
      background-size: cover; }

.cart-group .list {
  margin-top: 0.35714rem;
  background: white; }
  .cart-group .list > div {
    padding: 0.35714rem 0; }
  .cart-group .list .listTop {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .cart-group .list .listTop .listTopRadio {
      width: 2.14286rem;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .cart-group .list .listTop .listTopRadio div.listChecked {
        background: url(/assert/img/choose.png) no-repeat 50% 50%/100% 100%;
        width: 1rem;
        height: 1rem;
        margin: auto;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden; }
        .cart-group .list .listTop .listTopRadio div.listChecked img {
          width: 100%;
          height: 100%; }
      .cart-group .list .listTop .listTopRadio div.listUnchecked {
        border: solid 1px #e1e1e1;
        width: 1rem;
        height: 1rem;
        margin: auto;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden; }
        .cart-group .list .listTop .listTopRadio div.listUnchecked img {
          display: none; }
      .cart-group .list .listTop .listTopRadio div.can-not-Checked {
        border: none;
        background: url(/assert/img/choose.png) no-repeat 50% 50%/100% 100%;
        width: 1.42857rem;
        height: 1.42857rem;
        margin: auto;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden; }
        .cart-group .list .listTop .listTopRadio div.can-not-Checked img {
          width: 100%;
          height: 100%; }
    .cart-group .list .listTop .listTopDetail {
      -moz-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
      .cart-group .list .listTop .listTopDetail .detailImg {
        width: 3.85714rem;
        height: 3.85714rem; }
        .cart-group .list .listTop .listTopDetail .detailImg img {
          width: 100%;
          height: 100%; }
      .cart-group .list .listTop .listTopDetail .detailText {
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -moz-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
        .cart-group .list .listTop .listTopDetail .detailText .textName {
          padding: 0 0.35714rem;
          font-size: 0.71429rem;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .cart-group .list .listTop .listTopDetail .detailText .textName div:first-child {
            color: #353633; }
          .cart-group .list .listTop .listTopDetail .detailText .textName div:last-child {
            color: darkorange; }
        .cart-group .list .listTop .listTopDetail .detailText .textDiscription {
          padding: 0 0.35714rem;
          font-size: 0.57143rem;
          color: #7b896d; }
  .cart-group .list .listBottom {
    padding-top: 0;
    font-size: 0.71429rem;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .cart-group .list .listBottom .float_left {
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding-left: 1rem; }
    .cart-group .list .listBottom .listBottomTitle {
      letter-spacing: 0.64286rem; }
    .cart-group .list .listBottom .subtraction {
      width: 1.14286rem;
      height: 1.14286rem;
      border: solid 1px #dbba68;
      -moz-border-radius: 0.21429rem;
      border-radius: 0.21429rem;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      color: #dbba68; }
    .cart-group .list .listBottom .addition {
      width: 1.14286rem;
      height: 1.14286rem;
      -moz-border-radius: 0.21429rem;
      border-radius: 0.21429rem;
      background: #dbba68;
      color: white;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-right: 1rem; }
    .cart-group .list .listBottom .selectNumber {
      margin: 0 1rem;
      color: darkorange; }

.cart-group .footerH {
  height: 2.3rem; }

.cart-group footer {
  position: fixed;
  left: 0;
  bottom: 2.5rem;
  width: 100%;
  padding-left: 0.5rem;
  height: 2rem;
  background-color: #fff;
  border-top: 1px solid #eee;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.cart-group .totalbox {
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  height: 100%;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px; }
  .cart-group .totalbox span {
    color: orangered; }

.cart-group .countbox {
  display: block;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: darkorange;
  color: #fff; }

.details-group .swiper-container {
  padding-bottom: 0; }
  .details-group .swiper-container .swiper-slide img {
    width: 100%;
    height: 12rem; }

.details-group .swiper-pagination-bullet {
  background-color: #FFFFFF; }

.details-group .swiper-pagination {
  position: absolute; }

.details-group .swiper-container-horizontal > .swiper-pagination {
  bottom: 0;
  left: 0;
  width: 100%; }

.details-group .swiper-pagination-bullet-active {
  background-color: #E4393C; }

.details-group .biaoti {
  margin: 0.17857rem 0 0.17857rem 0.42857rem;
  font-size: 0.92857rem;
  color: #353633; }

.details-group .price {
  margin: 0.17857rem 0; }
  .details-group .price svg {
    width: 0.71429rem;
    height: 0.71429rem;
    margin-left: 0.42857rem;
    fill: #7B896D; }
  .details-group .price .sp1 {
    font-size: 0.85714rem;
    color: #7B896D; }
  .details-group .price .sp2 {
    font-size: 0.57143rem;
    color: #DBBA68;
    margin-left: 0.64286rem; }

.details-group .choose {
  border-top: 1px solid #EEEEEE;
  padding-top: 0.71429rem; }
  .details-group .choose .guige {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .details-group .choose .guige .left {
      -moz-box-flex: 23;
      -ms-flex: 23;
      flex: 23; }
    .details-group .choose .guige svg {
      width: 0.71429rem;
      height: 0.71429rem;
      fill: #7B896D;
      margin-left: 0.42857rem;
      margin-right: 0.42857rem; }
    .details-group .choose .guige .sp1 {
      font-size: 0.64286rem;
      color: #262c21; }
    .details-group .choose .guige .btnbox {
      -moz-box-flex: 77;
      -ms-flex: 77;
      flex: 77; }
      .details-group .choose .guige .btnbox button {
        width: 6.42857rem;
        height: 1rem;
        font-size: 0.57143rem;
        border: none;
        outline: none;
        padding: 0;
        -moz-border-radius: 0.07143rem;
        border-radius: 0.07143rem;
        color: #7B896D;
        border: 1px solid #7B896D;
        margin-right: 0.28571rem; }
      .details-group .choose .guige .btnbox .active {
        color: #FFFFFF;
        background-color: #7A8B6C; }
  .details-group .choose .shuliang {
    margin-top: 0.35714rem;
    margin-bottom: 0.35714rem; }
    .details-group .choose .shuliang img {
      width: 0.71429rem;
      height: 0.71429rem;
      margin-left: 0.71429rem;
      margin-right: 0.92857rem;
      position: relative;
      top: 0.21429rem; }
    .details-group .choose .shuliang svg {
      width: 0.71429rem;
      height: 0.71429rem;
      fill: #7B896D;
      margin-left: 0.42857rem;
      margin-right: 0.5rem; }
    .details-group .choose .shuliang .sp1 {
      font-size: 0.64286rem;
      color: #262c21; }
    .details-group .choose .shuliang .svg2 {
      width: 0.71429rem;
      height: 0.71429rem;
      margin-right: 0.71429rem;
      fill: #dba668;
      position: relative;
      top: 0.21429rem; }
    .details-group .choose .shuliang .sp2 {
      font-size: 0.85714rem;
      color: #DBBA68;
      margin-right: 0.92857rem; }

.details-group .xiangqing {
  text-align: center; }
  .details-group .xiangqing svg {
    height: 0.5rem;
    width: 1.14286rem;
    fill: #d7dcd3; }
  .details-group .xiangqing .p1 span {
    font-size: 0.78571rem;
    color: #7B896D; }

.details-group .pic img {
  width: 100%; }

.details-group .bar-tab {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85714rem;
  color: #FFFFFF; }
  .details-group .bar-tab div {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .details-group .bar-tab .left {
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #dab866;
    background-color: #363533; }
    .details-group .bar-tab .left svg {
      height: 0.85714rem;
      width: 0.85714rem;
      margin-left: 0.64286rem;
      margin-right: 0.71429rem;
      fill: #dab866;
      position: relative;
      top: 0.14286rem; }
    .details-group .bar-tab .left .cir {
      position: absolute;
      display: inline-block;
      width: 0.71429rem;
      height: 0.71429rem;
      font-size: 0.5rem;
      -moz-border-radius: 50%;
      border-radius: 50%;
      line-height: 0.71429rem;
      color: #FFFFFF;
      text-align: center;
      background-color: #dbbb69;
      top: 0.82143rem;
      left: 1.35714rem; }
    .details-group .bar-tab .left .span1 {
      color: #7b896d;
      font-size: 0.71429rem;
      margin-right: 0.17857rem; }
    .details-group .bar-tab .left .span2 {
      color: #7b896d;
      font-size: 0.71429rem;
      margin-left: 0.17857rem; }
  .details-group .bar-tab .center {
    -moz-box-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
    text-align: center;
    background-color: #7b8a6d;
    font-size: 0.85714rem;
    color: #FFFFFF; }
  .details-group .bar-tab .right {
    -moz-box-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
    text-align: center;
    background-color: #CCCCCC; }
  .details-group .bar-tab .ok {
    background-color: #DBBB69; }

/*game样式开始*/
.game-group .nav-title {
  height: 2.25rem; }
  .game-group .nav-title .tith {
    font-size: 0.9rem;
    float: left;
    font-weight: normal;
    line-height: 2.25rem;
    padding-left: 1rem;
    margin: 0; }
    .game-group .nav-title .tith strong {
      font-weight: normal;
      background: url(../img/icon_all.png) no-repeat;
      -moz-background-size: 24rem 18rem;
      background-size: 24rem 18rem;
      padding-left: 2.25rem;
      height: 2.25rem;
      line-height: 2.25rem;
      display: inline-block; }

.game-group .nav-list {
  padding: 0.25rem;
  background-color: #fff;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .game-group .nav-list .item {
    height: 1.25rem;
    -moz-border-radius: 0.625rem;
    border-radius: 0.625rem;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    color: #fff;
    margin: 0.35rem 0.5rem;
    background-color: #98FB98; }
    .game-group .nav-list .item:nth-child(2) {
      background-color: #E94068; }
    .game-group .nav-list .item:nth-child(3) {
      background-color: #EE85A5; }
    .game-group .nav-list .item:nth-child(4) {
      background-color: #DDA0DD; }
    .game-group .nav-list .item:nth-child(5) {
      background-color: #00ACFE; }
    .game-group .nav-list .item:nth-child(6) {
      background-color: #C1C1C1; }
    .game-group .nav-list .item:nth-child(7) {
      background-color: #FF6D26; }
    .game-group .nav-list .item:nth-child(8) {
      background-color: #EE82EE; }
    .game-group .nav-list .item:nth-child(9) {
      background-color: #00BFFF; }
    .game-group .nav-list .item:nth-child(10) {
      background-color: #D19275; }
    .game-group .nav-list .item:nth-child(11) {
      background-color: #228B22; }
    .game-group .nav-list .item:nth-child(12) {
      background-color: #FFD700; }
    .game-group .nav-list .item:nth-child(13) {
      background-color: #AFEEEE; }

/*首页样式开始*/
.index-group .content {
  padding-bottom: 2.5rem; }

.index-group .bar-nav .searchbar {
  background-color: #f7f7f8;
  margin-left: 1.78571rem;
  padding-left: 0; }
  .index-group .bar-nav .searchbar .button {
    top: 0; }

.index-group .swiper-container {
  padding-bottom: 0; }
  .index-group .swiper-container .swiper-slide img {
    width: 100%;
    height: 9.52357rem; }

.index-group .swiper-pagination-bullet {
  background-color: #FFFFFF; }

.index-group .swiper-pagination {
  position: absolute; }

.index-group .swiper-container-horizontal > .swiper-pagination {
  bottom: 0;
  left: 0;
  width: 100%; }

.index-group .swiper-pagination-bullet-active {
  background-color: #E4393C; }

.index-group .biaoyu {
  padding: 0.71429rem 0.17857rem;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff; }
  .index-group .biaoyu .biaoyu-item {
    width: 25%;
    text-align: center;
    font-size: 0.64286rem;
    color: #535353; }
    .index-group .biaoyu .biaoyu-item img {
      width: 2.14286rem;
      margin-bottom: 0.21429rem; }

.index-group .index-test {
  padding: 0.35714rem 0.35714rem 0.35714rem 0;
  background-color: #fff;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .index-group .index-test a {
    display: block;
    padding: 0.35714rem 0 0 0.35714rem;
    width: 50%; }
    .index-group .index-test a img {
      display: block;
      width: 100%; }

.index-group .index-news {
  padding: 0.71429rem 0;
  background-color: #f4f4f4;
  text-align: center; }
  .index-group .index-news .news-span1 {
    display: inline-block;
    font-size: 1.28571rem;
    color: #5c5c5c;
    border-bottom: .01rem solid #5c5c5c; }
  .index-group .index-news .news-span2 {
    display: inline-block;
    font-size: 0.57143rem;
    color: #303030; }

.index-group .newslist {
  background-color: #f4f4f4;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .index-group .newslist a {
    display: block;
    background-color: #f4f4f4;
    margin-bottom: 0.21429rem; }
  .index-group .newslist .full {
    width: 100%; }
    .index-group .newslist .full img {
      width: 100%;
      display: block; }
  .index-group .newslist .half {
    width: 49.5%; }
    .index-group .newslist .half img {
      width: 100%;
      display: block; }

.index-group .list-title {
  padding: 0.78571rem;
  background-color: #f4f4f4;
  font-size: 0.71429rem;
  color: #5c5c5c; }
  .index-group .list-title a {
    float: right; }
    .index-group .list-title a .cir {
      display: inline-block;
      width: 0.21429rem;
      height: 0.21429rem;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #cab8a2;
      margin: 0 .02rem;
      vertical-align: middle; }

.index-group .list {
  background-color: #f4f4f4;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .index-group .list a {
    display: block;
    background-color: #fff;
    margin-bottom: 0.14286rem; }
  .index-group .list .full {
    width: 100%; }
    .index-group .list .full img {
      width: 100%;
      display: block; }
  .index-group .list .half {
    width: 49.5%;
    padding: 0.5rem;
    font-size: 0.60714rem;
    color: #585B5A;
    text-align: center; }
    .index-group .list .half img {
      width: 100%;
      display: block; }
    .index-group .list .half .price {
      color: #d93732; }
    .index-group .list .half p {
      margin: 0.21429rem 0; }

.index-group .web-info {
  padding: 0.21429rem 1.07143rem 0.21429rem 1.42857rem; }
  .index-group .web-info .contact {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.64286rem 0; }
    .index-group .web-info .contact .left {
      width: 60%; }
      .index-group .web-info .contact .left i {
        font-size: 1.21429rem;
        color: #535353; }
      .index-group .web-info .contact .left b {
        font-size: 0.85714rem;
        color: #535353; }
      .index-group .web-info .contact .left p {
        font-size: 0.64286rem;
        color: #535353;
        margin: 0.5rem 0; }
    .index-group .web-info .contact .right {
      width: 40%;
      height: 2.5rem;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border: 1px solid #535353;
      -moz-border-radius: 1.78571rem;
      border-radius: 1.78571rem;
      font-size: 0.71429rem;
      color: #535353; }
  .index-group .web-info .links {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .index-group .web-info .links a {
      display: block;
      width: 25%;
      padding: 0.35714rem 0;
      font-size: 0.64286rem;
      color: #535353;
      text-align: center; }
  .index-group .web-info > p {
    font-size: 0.57143rem;
    color: #535353;
    text-align: center;
    margin: 0.35714rem 0; }

.panel-left {
  background-color: #fff; }
  .panel-left .content-block {
    margin: 0;
    padding: 0; }
  .panel-left .menutitle {
    text-align: center; }
  .panel-left .menubox {
    width: 100%; }
    .panel-left .menubox .fenlei {
      border-top: 2px solid #eee;
      padding: 1.07143rem 0;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      background-color: #fff; }
      .panel-left .menubox .fenlei .item {
        display: block;
        width: 33.333%;
        margin-bottom: 1.07143rem;
        text-align: center;
        font-size: 0.57143rem;
        color: #535353; }
        .panel-left .menubox .fenlei .item i {
          font-size: 1.42857rem;
          color: #535353;
          margin-bottom: 0.35714rem; }
  .panel-left .closebtn {
    padding: 0 0.89286rem;
    bottom: 1.78571rem; }

.list-group .list {
  background-color: #f4f4f4;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .list-group .list a {
    display: block;
    background-color: #fff;
    margin-bottom: 0.14286rem;
    width: 49.5%;
    padding: 0.5rem;
    font-size: 0.60714rem;
    color: #585B5A;
    text-align: center; }
    .list-group .list a img {
      width: 100%;
      display: block; }
    .list-group .list a .price {
      color: #d93732; }
    .list-group .list a p {
      margin: 0.21429rem 0; }

.me-group {
  /*覆盖sui的属性*/
  /*自定义的属性*/ }
  .me-group .list-block .item-media + .item-inner {
    margin-left: 0; }
  .me-group .list-block .item-content {
    padding-right: 0.75rem; }
  .me-group .list-block {
    margin: 0.35714rem 0 0 0;
    font-size: 0.71429rem; }
  .me-group .list-block .item-link .item-inner {
    background-image: url(/assert/img/r_top_icon.svg);
    -moz-background-size: 0.5rem 0.57143rem;
    background-size: 0.5rem 0.57143rem; }
  .me-group .list-block .item-title,
  .me-group .list-block .item-after {
    color: #353633; }
  .me-group .list-block .item-inner {
    padding-top: 0.85714rem;
    padding-bottom: 0.85714rem; }
  .me-group .topImage {
    height: 8.57143rem;
    width: 100%;
    padding-top: 1rem;
    background: url(/assert/img/usercenter-bg.png) no-repeat 50% 50%/100% 100%; }
    .me-group .topImage .userImg {
      width: 5rem;
      height: 5rem;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 0 auto 0.57143rem;
      border: solid 2px #e1e1e1; }
      .me-group .topImage .userImg .userImgInner {
        width: 4.28571rem;
        height: 4.28571rem;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        margin: 0.28571rem auto; }
        .me-group .topImage .userImg .userImgInner img {
          width: 100%;
          height: 100%; }
    .me-group .topImage .userNick {
      text-align: center;
      font-size: 0.85714rem;
      color: white;
      margin-bottom: 0.5rem; }
  .me-group .tab {
    background: white;
    width: 100%;
    padding: 0.71429rem 0;
    overflow: hidden; }
    .me-group .tab .middle_tab {
      border-left: solid 1px #e1e1e1;
      border-right: solid 1px #e1e1e1; }
    .me-group .tab > div {
      width: 33.33%;
      float: left;
      text-align: center; }
  .me-group .list-block .item-title {
    text-indent: 30px; }
  .me-group .list-block .memberCard {
    background: url(/assert/img/memberCard.svg) no-repeat 0 50%/20px 100%; }
  .me-group .list-block .discountCard {
    background: url(/assert/img/money_bg.svg) no-repeat 0 50%/20px 100%; }
  .me-group .list-block .goodsCard {
    background: url(/assert/img/card_icon.svg) no-repeat 0 50%/20px 100%; }
  .me-group .list-block .memberInfo {
    background: url(/assert/img/memberInfo.svg) no-repeat 0 50%/20px 100%; }
  .me-group .list-block .serviceTel {
    background: url(/assert/img/serviceTel.svg) no-repeat 0 50%/20px 100%; }
  .me-group .list-block .security {
    background: url(/assert/img/security.svg) no-repeat 0 50%/20px 100%; }
  .me-group .list-block .advice {
    background: url(/assert/img/pen_icon.svg) no-repeat 0 50%/20px 100%; }
  .me-group .list-block .addresses {
    background: url(/assert/img/addresses.svg) no-repeat 0 50%/20px 100%; }
  .me-group .coupon-feedback__body {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.42857rem;
    background: #f2f2f2;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute; }
  .me-group .feedback__phone {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0.35714rem;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    -moz-border-radius: 0.57143rem;
    border-radius: 0.57143rem;
    width: 100%;
    height: 2.85714rem;
    background: #fff;
    -moz-box-shadow: 0px 1px #e6e6e6;
    box-shadow: 0px 1px #e6e6e6; }
  .me-group .feedback__phone--text {
    margin-right: 0.57143rem;
    font-size: 0.71429rem;
    color: #353633;
    letter-spacing: 0.07143rem;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu; }
  .me-group .feedback__input--text {
    color: #b9b9b9;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 0.71429rem;
    border: none;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .me-group .feedback--text {
    display: block;
    margin: 0.92857rem 0 0.78571rem 0.35714rem;
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: #353633;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 0.71429rem; }
  .me-group .feedback__content {
    width: 100%;
    background: #fff;
    resize: none;
    border: 1px solid #e6e6e6;
    -moz-border-radius: 0.57143rem;
    border-radius: 0.57143rem;
    -moz-box-shadow: 0px 1px #e6e6e6;
    box-shadow: 0px 1px #e6e6e6;
    color: #b9b9b9;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 0.71429rem;
    padding-top: 0.42857rem;
    height: 13.71429rem;
    text-indent: 0.71429rem; }
  .me-group .coupon-feedback--submit {
    margin-top: 0.85714rem;
    width: 8.57143rem;
    height: 2.14286rem;
    color: #fff;
    background-color: #dbbb69;
    -moz-border-radius: 1.07143rem;
    border-radius: 1.07143rem;
    border: none;
    font-size: 0.71429rem;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu; }

.order-group {
  /*无订单页面*/ }
  .order-group .content-block {
    margin: 0.5rem 0;
    padding: 0;
    color: #6d6d72; }
  .order-group .container-order {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #ffffff; }
  .order-group .container-title {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0.57143rem;
    border-bottom: 1px dotted #7b896d;
    padding: 0.35714rem 0; }
  .order-group .container-card-goods {
    font-size: 0.71429rem;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.57143rem 0;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .order-group .container-card-goods ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .order-group .container-card-goods ul li {
        width: 2.85714rem;
        height: 2.85714rem;
        float: left;
        margin-right: 0.35714rem; }
        .order-group .container-card-goods ul li img {
          height: 100%;
          width: 100%; }
  .order-group .pay_goods_btn {
    text-align: right;
    height: 2rem;
    padding-top: 0.57143rem;
    border-top: 1px dotted #7b896d; }
  .order-group .pay_goods_btn .pay-btn {
    width: 3.85714rem;
    font-size: 0.64286rem;
    height: 1.21429rem;
    line-height: 1.21429rem;
    text-align: center;
    color: #ffffff;
    background-color: #dbbb69;
    outline: none;
    border: none;
    -moz-border-radius: 0.60714rem;
    border-radius: 0.60714rem; }
  .order-group .pay_goods_btn a {
    color: #ffffff; }
  .order-group .not_paying {
    margin-top: 40%;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .order-group .not_paying .not_paying_basket {
      width: 6rem;
      height: 6rem;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #ccc;
      text-align: center;
      margin: 0 auto;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .order-group .not_paying .not_paying_basket img {
        display: block;
        width: 4rem;
        height: 4rem; }
  .order-group .not_paying .not_pay_title {
    font-size: 0.78571rem;
    color: #7b896d;
    letter-spacing: .15rem;
    margin: 0.71429rem 0 1.07143rem 0; }
  .order-group .not_paying .go_shop {
    width: 4.64286rem;
    font-size: 0.85714rem;
    height: 1.57143rem;
    line-height: 1.57143rem;
    text-align: center;
    color: #dbba68;
    outline: none;
    border: 1px solid #dbba68;
    -moz-border-radius: 0.78571rem;
    border-radius: 0.78571rem;
    background-color: #f4f4f4; }
  .order-group .not_paying .go_shop a {
    color: #dbba68; }

/*# sourceMappingURL=index.css.map */
